<!DOCTYPE html>
<html lang="en" data-ng-app="smartPaperApp" ng-controller="MainController">
    <head>
        <title>IBM</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Learn how to connect the dots between big data and customer loyalty." />
        <meta property="og:description" content="Learn how to connect the dots between big data and customer loyalty." />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>

        <link rel="stylesheet" type="text/css" href="styles/styles.css">
        <link rel="stylesheet" type="text/css" href="styles/social-toolbar.css">

        <script src="libs/jquery.highlight-4.js"></script>
        <script src="libs/jquery.jagent.js"></script>

        <script src="scripts/scripts.js"></script>
        <script src="scripts/services.js"></script>
        <script src="scripts/directives.js"></script>
        <script src="scripts/controllers.js"></script>
        <script src="scripts/main.js"></script>
    </head>
    <body  data-spy="scroll" data-target=".nav-controls" data-offset="50" ng-mouseup="onMouseUp($event)">
        <div id="shareSelectedTextPopOver" class="arrow-box" ng-class="{'show' : shareSelectedPopoverModel.opened, 'hidden': !shareSelectedPopoverModel.opened}" 
             ng-style="{'top': shareSelectedPopoverModel.top, 'left': shareSelectedPopoverModel.left}">
            <ul class="list-inline">
                <li><a target="_blank" href="{{emailModel.getHREF()}}"><i class="fa fa-envelope"></i></a></li>
                <li><a target="_blank" href="{{twitterModel.getLink()}}" twitter-modal="" ng-click="resetSelection()"><i class="fa fa-twitter"></i></a></li>
                <li><a target="_blank" href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://ibm.com&p[title]=IBMExperienceOne&p[summary]=Learn how to connect the dots between big data and customer loyalty."><i class="fa fa-facebook"></i></a></li>
                <li><a target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url=http://ibm.com&title=IBMExperienceOne&summary=See%20the%20benefits%20customer-focused%20big%20data%20in%20action.&source=IBM"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div id="popoverContent" ng-class="{'open' : searchWindowOpened, 'hidden': !searchWindowOpened }">
            <iframe src="search.html" id="search" frameborder="0" border="1" height="125px" scrolling="no"></iframe>
        </div>
        <div class="navbar navbar-default nav-controls" role="navigation" data-spy="affix" id="dynamicNavBar" hide-menus right-menu="rightMenuOpened" left-menu="leftMenuOpened">
            <div class="container-fluid">
                <div class="dynamic-navbar-container">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a class="link-icon" ng-click="openCloseLeftMenuOptionClick($event)">
                                <div class="menu-icon" ng-class="{'open': leftMenuOpened}"></div>
                            </a>
                        </li>
                        <li class="visible-xs">
                            <a class="link-icon highlight-icon" ng-class="{'open': rightMenuOpened}" ng-click="openCloseHighlightMenuClick($event)">
                                <div class="icon highlight-icon"></div>
                                <p>Highlights</p>
                            </a>
                        </li>
                       
                        <li class="hidden-xs">
                            <ul class="nav navbar-active-label">
                                <li ng-repeat="content in contentTable">
                                    <a class="main-label" ng-if="content.id && content.isMain" href="#{{content.id}}"><strong>{{content.title}}</strong></a>
                                   <ul class="nav"> 
                                       <li>
                                            <a class="secondary-label" ng-if="content.id && !content.isMain" href="#{{content.id}}">
                                                <i class="fa fa-circle"></i>
                                                {{content.title}}
                                            </a>
                                        </li>
                                        <li ng-repeat="section in content.sections">
                                            <a class="secondary-label" ng-if="section.id" href="#{{section.id}}">
                                                <i class="fa fa-circle"></i>
                                                {{section.title}}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden-xs">
                            <a class="link-icon" ng-class="{'open': rightMenuOpened}" ng-click="openCloseHighlightMenuClick($event)">
                                <div class="icon highlight-icon"></div>
                                <p class="hidden-xs">Highlights</p>
                            </a>
                        </li>
                        <li >
                            <a class="link-icon" ng-class="{'open': sharePopoverOpened}" ng-click="openCloseSharePopover($event)">
                                <div class="icon share-icon"></div><p class="hidden-xs">Share</p>
                            </a>
                            <div id="shareTabletPopOver" class="arrow-box" ng-class="{'show': sharePopoverOpened, 'hidden': !sharePopoverOpened}">
                                <ul class="list-inline">
                                    <li><a target="_blank" href="{{emailModel.getHREF()}}"><i class="fa fa-envelope"></i></a></li>
                                   <li><a  target="_blank" href="{{twitterModel.getLink()}}" twitter-modal="" ng-click="resetSelection()"><i class="fa fa-twitter"></i></a></li>
                                     <li><a target="_blank" href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://ibm.com&p[title]=IBMExperienceOne&p[summary]=Learn how to connect the dots between big data and customer loyalty."><i class="fa fa-facebook"></i></a></li>
                                    <li><a target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url=http://ibm.com&title=IBMExperienceOne&summary=See%20the%20benefits%20customer-focused%20big%20data%20in%20action.&source=IBM"><i class="fa fa-linkedin"></i></a></li>
                              
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="link-icon" id="btnSearch" ng-click="openCloseSearchWindow($event)" ng-class="{'open' : searchWindowOpened}">
                                <div class="icon search-icon"></div><p class="hidden-xs">Search</p>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <ul class="nav navbar-nav navbar-justified navbar-crumbs">
                    <li class="crumbs-first"></li>
                    <li ng-repeat="content in Sections" ng-if="content.id" repeat-done="buildBreadcrumb(Sections.length+1)" >
                        <a href="#{{content.id}}"  ng-click="stopPropagation($event)">
                            <i class="fa" ng-class="{'fa-square': content.isMainSection, 'fa-circle': !content.isMainSection}"></i>
                            <span class="arrow_box">{{content.title}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="side-menu left-menu nav-controls" ng-class="{'open' : leftMenuOpened}">
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="content in Sections" ng-class="{'section': content.isMain}" ng-if="!content.isMain && content.title == 'Introduction'">
                    <a href="#{{content.id}}" ng-class="{'section': content.isMain}" ng-click="openCloseLeftMenuOptionClick($event)">
                        <i class="fa" ng-class="{'fa-circle': !content.isMain}"></i>
                        <span class="text">{{content.title}}</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
                <li ng-repeat="content in Sections" ng-class="{'section': content.isMainSection}" ng-if="content.isMain && !content.isExcluded">
                    <a href="#{{content.id}}" ng-class="{'section': content.isMainSection}" ng-click="openCloseLeftMenuOptionClick($event)">
                        <i class="fa" ng-class="{'fa-circle': !content.isMainSection}"></i>
                        <span class="text">{{content.title}}</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
                <li ng-repeat="content in Sections" ng-class="{'section': !content.isMainSection}" ng-if="!content.isMain && content.title == 'Resources'">
                    <a href="#{{content.id}}" ng-class="{'section': !content.isMainSection}" ng-click="openCloseLeftMenuOptionClick($event)">
                        <i class="fa" ng-class="{'fa-circle': content.isMainSection}"></i>
                        <span class="text">{{content.title}}</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="side-menu right-menu" ng-class="{'open': rightMenuOpened}">

            <div class="panel-group acordion-highlights" id="acordionHighlightsSideMenu">
                <div class="panel panel-default panel-highlight" ng-repeat="highlight in highlights.options">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#acordionHighlightsSideMenu" href="#{{highlight.href}}" class="btn btn-default btn-lg btn-highlight collapsed">
                            <i class="fa fa-plus"></i>
                            <i class="fa fa-minus"></i>
                            <span class="text-btn">{{highlight.topic}}</span>
                        </a>
                    </div>
                    <div id="{{highlight.href}}" class="panel-collapse collapse">
                        <div class="panel-body body-highlight">
                            <ul class="nav">
                                <li ng-repeat="subtopic in highlight.subtopics" class="btn-highlight">
                                    <a href="#{{subtopic.href}}" data-secid="{{subtopic.secId}}" class="text-btn" ng-click="openCloseHighlightMenuClick($event)">{{subtopic.topic}}</a>
                                    <i class="fa fa-angle-right"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid page" id="cover">
            <img src="images/logo_small.png" class="pull-left small-logo">
            <div class="container cover-container">
                <div class="cover-centered">
                    <div class="vcenter left">
                        <img src="images/IBM_logo-01.png" class="img-logo">
                    </div>
                    <div class="vcenter right">
                        <h2 class="main-title">IBM <strong>Software</strong></h2>
                        <h3 class="secondary-title">Enhance your 360-degree view of the customer</h3>
                        <p class="desc-title">Use big data to build and integrated, more personalized approach to marketing, business strategy, customer service and more</p>                     
                   </div>
                </div>
            </div>
            <div class="center-block angle-down-container" >
                <a href="#contentTable">
                    <i class="fa fa-angle-down angle-down"></i>
                </a>
            </div>
        </div>
        <!--</div>-->
        <div class="container-fluid page" id="contentTable">
            <div class="row clearfix">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="table-content-title">
                                <i class="fa fa-bars"></i>
                                Table of Contents
                            </h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 panel panel-primary panel-content" >
                            <div class="panel-body" >
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="#introduction" data-sec="#sec-introduction" ng-click="stopPropagation($event)">
                                            <i class="fa fa-circle"></i>
                                            <span class="tb-body-text">Introduction</span>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="list-unstyled" ng-repeat="content in contentTable">
                                    <li ng-repeat="section in content.sections" ng-if="!content.isMain && !section.isExcluded">
                                        <a href="#{{section.id}}" data-sec="#sec-{{content.id}}" ng-click="stopPropagation($event)">
                                            <i class="fa fa-circle"></i>
                                            <span class="tb-body-text">{{section.title}}</span>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="#more_information" data-sec="#sec-more_information" ng-click="stopPropagation($event)">
                                            <i class="fa fa-circle"></i>
                                            <span class="tb-body-text">Resources</span>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <h2 class="col-xs-9 highlights-title">
                            <i class="fa fa-bookmark"></i>
                            Highlights
                        </h2>
                        <a href="#" id="btnInfo" type="button" class="pull-right btn btn-link i-icon" tabindex="0" data-container="body" data-toggle="popover" data-trigger="click" data-placement="left" data-trigger="click" data-html="true" data-content="Use the highlights to jump to  <br/> featured content within the white paper. <button data-toggle='clickover' class='close' onclick='$(&quot;#btnInfo&quot;).popover(&quot;hide&quot;);'>&times;</button>">
                            <img src="images/i.png" class="i-icon">
                        </a>
                    </div>

                    <div class="row clearfix">
                        <div class="panel-group" id="acordionHighlights" >
                            <div class="panel panel-default panel-highlight" ng-repeat="highlight in highlights.options">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#acordionHighlights" href="#menu_{{highlight.href}}" class="btn btn-default btn-lg btn-highlight collapsed">
                                        <i class="fa fa-plus"></i>
                                        <i class="fa fa-minus"></i>
                                        <span class="text-btn">{{highlight.topic}}</span>
                                    </a>
                                </div>
                                <div id="menu_{{highlight.href}}" class="panel-collapse collapse">
                                    <div class="panel-body body-highlight">
                                        <ul class="nav">
                                            <li ng-repeat="subtopic in highlight.subtopics" class="btn-highlight">
                                                <a href="#{{subtopic.href}}" data-secid="{{subtopic.secId}}" class="text-btn" ng-click="stopPropagation($event)">{{subtopic.topic}}</a>
                                                <i class="fa fa-angle-right"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="center-block angle-down-container" style="margin-top: 100px;">
                <a href="#introduction">
                    <i class="fa fa-angle-down angle-down"></i>
                </a>
            </div>
        </div>
        <div class="container-fluid sections shift" ng-class="{'shift-left' : leftMenuOpened, 'shift-right' : rightMenuOpened }" ng-controller="AcoordionController">
            <div class="section {{section.id}} accordion-section" ng-repeat="section in Sections" ng-if="section.id && !section.exclude" ng-class="{'opened': opened(section.id)}">
                <div id="{{section.id}}" class="internal-anchor"></div>
                <div class="container section-header show-md" ng-class="{'main': section.isMainSection}">
                    <i class="fa" ng-class="{'fa-minus': getIndex(section.id) > -1, 'fa-plus': getIndex(section.id) == -1}" ng-click="openSection(section.id)"></i>
                    <span ng-click="openSection(section.id)" class="section-title">{{section.title}}</span>
                </div>
                <div class="section-body show-md" ng-show="opened(section.id)" ng-include="getUrl(section)">

                </div>
            </div>
            <!--<div class="section more_information">
                <div id="more_information" class="internal-anchor"></div>
                <div class="section-body" ng-include="'partials/more_information.html'"></div>
            </div>
            <div class="section sources">
                <div id="more_information" class="internal-anchor"></div>
                <div class="section-body" ng-include="'partials/sources.html'"></div>
            </div>-->
        </div>
        
    </body>
</html>