<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

		<link rel="stylesheet" href="styles/search.css">

		 <script>
              function findNext() {
                    $(".result").removeClass("show");
                     var valor = document.getElementById('searchText').value;
                    if (!parent.findNext(valor)) {
                    $(".result").addClass("show");
                     }
                }
                
                 </script>
	</head>
	<body>
		<span class="window-title">Inline Search</span>
		<a class="popover-close" onclick="parent.toggleSearchWindow(); return false;">X</a>
		<form class="form-inline" role="form" onsubmit="findNext(); return false;" name="formSearch" id="formSearch" action="javascript:void(0)">
		<div class="form-group">
		  <input type="text" placeholder="Search" class="form-control" maxlength="15" name="searchText" ng-model="searchText" id="searchText" autofocus>
		  <span class="result pull-left">No results found</span>
		  <button type="submit" name="btnSearch" class="btn btn-primary pull-right" id="btnSearch">Find Next</button>       
		  <div class="clearfix"></div>                           
		</div>
		</form>		
	</body>
</html>
