<div class="row">
    <div class="col-sm-12">
        <img style="float: right" id="highlight07" src="images/IBM_8-01.png" class="img-responsive anotherPicture allPicture thinPicture">
        <p>
            An enhanced 360-degree view of the
            customer is a holistic approach that takes
            into account all available and meaningful
            information about the customer to drive
            better engagement, more revenue and longterm
            loyalty. It combines data exploration,
            data governance, data access, data
            integration and analytics in a solution that
            harnesses the volume, velocity and variety
            of big data.
        </p>
        <p>
            <span id="highlight08" class="highlight">To establish an enhanced 360-degree view
                of your customers or other key entities, you
                must be able to:</span>
        </p>
        <p>
            <strong>Federate search, discovery and
                navigation securely</strong> across a wide range
            of applications, data sources and formats
            <strong>Eliminate duplicates and rationalize
                conflicting information</strong> through matching,
            linking and semantic reconciliation of master
            data to create and maintain a golden record.
        </p>

        <p>
            <strong>Leverage Hadoop systems</strong> so that
            information of all types, in any volume and
            at any velocity, can be incorporated into
            the single view
            <strong>Assess streaming data sources</strong> to
            analyze perishable data quickly and to select
            valuable data and insights to be stored for
            further processing
            <strong>Collect all customer data at one central
                location</strong> from which it can be more easily
            managed, analyzed and shared
        </p>
    </div>
</div>

