<div class="row">
    <div class="col-sm-12">
        <p>
            <img style="float: right;" src="images/IBM_fondo-01.png" class="img-responsive allPicture">
            Few organizations, if any, will ever process
            and analyze all the information they
            accumulate; data typically continues to grow
            and diversify ahead of attempts to map and
            analyze it. However, by identifying, classifying
            and using all appropriate data, organizations
            can gain valuable insights that would
            otherwise go undiscovered. 
            <strong id="highlight09">IBM provides
                several important capabilities to help
                you make effective use of big data and
                improve the customer experience.</strong><br><br>
            <a href="http://www-03.ibm.com/software/products/en/dataexplorer/">IBM Watson Explorer </a>  
            navigates and filters
            large amounts of data in nearly any format.
            It helps simplify how line-of-business
            users—whether researchers, call center
            employees, executives, data scientists or
            others—navigate and explore different data
            repositories, helping them truly understand
            the information they have. Watson Explorer
            can also combine data and analytics from
            multiple enterprise systems—including
            CRM, enterprise content management
            (ECM), master data management (MDM),
            business intelligence (BI), supply chain
            management (SCM) and more—into a
            unified view designed for use by sales and
            service employees to bring the benefits of
            the enhanced 360-degree view directly to
            first-line interactions with customers.<br>
            <a href="http://www-01.ibm.com/software/data/master-data-management/">IBM® InfoSphere® Master Data
                Management (InfoSphere MDM)</a> creates a
            golden record for trusted customer data. With
            InfoSphere MDM, you can match, link and
            resolve duplicate customer information that
            may be scattered across multiple information
            silos. You can also identify and maintain
            relationships, hierarchies and households to
            discover links between master entities, and
            enrich master records with links to additional
            unstructured information such as text,
            email messages and PDF documents. The
            InfoSphere MDM probabilistic matching
            engine can be run natively in InfoSphere
            BigInsights™ for Hadoop, providing a
            capability unique to IBM—high-speed
            matching of master records right where
            customer analytics take place.<br></p>
        <div class="allPicture" style="float: right;">
            <figure>
                <img src="images/IBM_12-01.png" class="img-responsive ">
            </figure>
            <figcaption>
                Figure 3. Gain fresh insights in real time and act upon those insights with confidence with
                IBM Watson Foundations.
            </figcaption>
        </div>
        <p>
            <a href="http://www-01.ibm.com/software/data/integration/info_server/">IBM InfoSphere Information Server </a>
            integrates data from diverse sources and
            keeps the consolidated view fresh as data
            changes to help overcome the errors and
            inconsistencies common in customer data.
            It also analyzes data, validates it against
            business rules, cleanses and enriches it,
            and monitors the ongoing quality of the
            data, so your enhanced 360-degree view
            is based on the best available data.<br>
            <a href="http://www-01.ibm.com/software/data/infosphere/biginsights/">IBM lnfoSphere Biglnsights </a>, the IBM
            distribution of the Apache Hadoop open
            source framework, includes analytics and
            makes it easier to deploy and manage big
            data capabilities.<br><br>
            <a href="http://www-01.ibm.com/software/data/infosphere/stream-computing/overview.html">IBM InfoSphere Streams </a> allows userdeveloped
            applications to quickly ingest,
            analyze and correlate data in motion.<br><br>
            <a href="http://www-03.ibm.com/software/products/en/category/enterprise-content-management">IBM Enterprise Content Management
                (ECM) </a> solutions <a href="http://www-03.ibm.com/software/products/en/category/content-management-imaging">capture</a>, <a href="http://www-03.ibm.com/software/products/en/category/advanced-case-management">activate</a>,
            share, analyze and <a href="http://www-03.ibm.com/software/products/en/category/information-lifecycle-governance">govern</a> unstructured
            data to lower costs and risk while
            improving efficiency.<br>
            <span id="highlight10" class="highlight">IBM Watson Foundations: The cornerstone of
                big data and analytics</span>
            Each of the components described previously is part of <a href="http://www.ibm.com/big-data/us/en/big-data-and-analytics/it-economics.html">IBM
                Watson Foundations</a>, the IBM big data and analytics platform,
            which provides capabilities to gain fresh insights in real time and
            act upon those insights with confidence. Comprising the IBM
            InfoSphere portfolio as well as analytics, BI and other industry
            solutions (see Figure 3), it delivers innovative stream processing,
            in-memory computing, advanced predictive analytics and
            exploration capabilities—along with the security, privacy and
            governance you require. IBM Watson Foundations is packaged
            so that you can address immediate needs, build on what you
            have and realize value at every step.<br>
            Support big data platforms with
            scalable integration and governance
            As a critical element of IBM Watson
            Foundations, <strong>IBM InfoSphere Information
                Integration and Governance (IIG)
                provides market-leading functionality
                to handle the challenges of big data.</strong>
            InfoSphere IIG provides optimal scalability
            and performance for massive data volumes,
            agile and right-sized integration and
            governance for the increasing velocity of
            data, and support and protection for a wide
            variety of data types and big data systems.
            InfoSphere IIG helps make big data and
            analytics projects successful by giving
            business users the confidence to act
            on insight.<br>
            IBM big data, integration and governance
            capabilities include:<br><br>
            • <strong>Metadata, business glossary and policy
                management:</strong> Define metadata, business
            terminology and governance policies.<br>
            • <strong>Data integration:</strong> Handle all integration
            requirements, including batch data
            transformation and movement (IBM
            InfoSphere Information Server), real-time
            replication (IBM InfoSphere Data
            Replication) and data federation (IBM
            InfoSphere Federation Server).<br>
            • <strong>Data quality: </strong>Parse, standardize,
            validate and match enterprise data with
            IBM InfoSphere Information Server for
            Data Quality.<br>
            • <strong>Master data management (MDM):</strong>
            Act on a trusted view of your customers,
            products, suppliers, locations and accounts
            with InfoSphere MDM.<br>
            • <strong>Data lifecycle management:</strong> Manage
            the data lifecycle from test data creation
            through retirement and archiving with
            IBM InfoSphere Optim™.<br>
            • <strong>Data security and privacy:</strong> Continuously
            monitor data access and protect
            repositories from data breaches, and
            support compliance with IBM InfoSphere
            Guardium®. Mask and help protect
            sensitive data with InfoSphere Optim.<br>
            • <strong>Hadoop: </strong>Discover and analyze new
            business insights hidden in large volumes
            of structured and unstructured data (data
            at rest) with InfoSphere BigInsights.<br>
            • <strong>Stream computing: </strong>Continuously
            analyze massive volumes of streaming
            data (data in motion) with sub-millisecond
            response times with InfoSphere Streams.
        </p>
    </div>
</div>

