 
<div class="row">
    <div class="col-sm-12">
        <div class="allPicture" style="float: right;">
            <figure >
                <img src="images/IBM_3-01.png" class="img-responsive anotherPicture">
            </figure>
            <figcaption>
                Figure 1. Information sources needed for an enhanced 360-degree view.
            </figcaption>
        </div>
        <p>For years, organizations have recognized
            that a better understanding of customers
            can translate to more sales, increased
            customer satisfaction and reduced customer
            churn. Initiatives focused on a 360-degree
            view of the customer have gone a long
            way toward providing those benefits by
            synthesizing customer profiles, sales history
            and other structured data from multiple
            sources across the enterprise. <br><br>

            But today, customer-centric organizations
            are discovering that there is more opportunity
            for growth when they enhance that
            360-degree view with information from
            more sources, both within and beyond the
            enterprise (see Figure 1). Information in
            email messages, unstructured documents
            and social media sentiments—previously
            beyond reach—is now extending the
            360-degree view.<br><br>

            <strong>Organizations that make full use of
                these data sources can deliver new
                insights and a sharper competitive edge
                by making the customer’s experience
                more personalized, encouraging loyalty
                and accelerating sales.</strong><br><br>

            <img style="float: right;" id="highlight04" src="images/IBM_4-01.png" class="img-responsive allPicture thinPicture">
            <span id="highlight01" class="highlight">A traditional 360-degree view shows that
                John Jones and J.T. Jones are the same
                person, that John and Mary are married and
                have three children, that they live on Elm
                Street and that they made three purchases
                from the Main Street store last year.</span><br><br>
            An enhanced 360-degree view reveals that
            Mary called four times to complain about
            the quality of one of those three products,
            that John posted comments about the poor
            quality in an online forum, and that Mary
            has just tweeted questions about a
            competitor’s product. Now the retailer knows that John and Mary are at risk of
            going to a competitor and can respond with
            a personalized customer-service email or a
            phone call with a targeted offer.<br><br>

            <strong>An enhanced 360-degree view empowers
                customer-facing professionals with the
                right information to engage customers,
                develop trusted relationships and
                improve customer loyalty.</strong><br><br>
            In addition, it enables marketing teams to target the right
            customer with the right offer at the right
            time, increasing the success rate for crosssell
            and up-sell opportunities.
        </p>
    </div>
</div>

