<div class="row">
    <div class="col-xs-12">
        <h3>To learn more about the IBM approach to creating an enhanced 360-degree view of
            the customer, please contact your IBM representative or IBM Business Partner, or visit
            one of the following:</h3><br><br>
        <p>
            Enhanced 360-degree view use cases
        </p>
        <a href="http://www-01.ibm.com/software/data/infosphere/use-cases/complete-view.html" target="_blank">
            <span>
                Use cases
                <i class="fa fa-angle-right"></i>
            </span>
        </a>
        <p>Enhanced 360-degree view of the customer</p>
        <a href="http://www.ibmbigdatahub.com/video/big-data-use-case-2-enhanced-360-degree-view-customer" target="_blank">
            <span>
                Video
                <i class="fa fa-angle-right"></i>
            </span>
        </a>

        <p>How to get an enhanced 360-degree view of the customer</p>
        <a href="http://www.ibmbigdatahub.com/podcast/how-get-enhanced-360-view-customer" target="_blank">
            <span>
                Podcast
                <i class="fa fa-angle-right"></i>
            </span>
        </a>

    </div>
</div>