<div class="row">
    <div class="col-sm-12">
        <h3>Sources</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <ol>
            <li>
                1,2,3,4,5 IBM Institute for Business Value. “The
Customer-Activated Enterprise: Insights from the Global
C-Suite Study.” 2013.
ibm.com/services/us/en/c-suite/csuitestudy2013
            </li>
        </ol>
    </div>
    <div class="col-sm-6">
        <div class="ibm-copyright">
            © Copyright IBM Corporation 2014
        </div>
        <p>
            IBM Corporation <br>
            Software Group <br>
            Route 100 <br>
            Somers, NY 10589 <br>
        </p>

        <p>
            Produced in the United States of America
            June 2014
        </p>

        <p>
            IBM, the IBM logo and ibm.com are trademarks of International Business Machines Corp., registered in many jurisdictions worldwide. Other
            product and service names might be trademarks of IBM or other companies. A current list of IBM trademarks is available on the Web at “Copyright
            and trademark information” at <a href="http://www.ibm.com/legal/us/en/copytrade.shtml">IBM.com/legal</a>.
        </p>

        <p>
            Kenexa is a registered trademarks of Kenexa, an IBM Company. This document is current as of the initial date of publication and may be changed
            by IBM at any time. Not all offerings are available in every country in which IBM operates.
        </p>

        <p>
            The client examples cited are presented for illustrative purposes only. Actual performance results may vary depending on specific
            configurations and operating conditions.
        </p>

        <p>
            It is the user’s responsibility to evaluate and verify the operation of any other products or programs with IBM products and programs
        </p>

        <p>
            THE INFORMATION IN THIS DOCUMENT IS PROVIDED “AS IS” WITHOUT ANY WARRANTY, EXPRESS OR IMPLIED, INCLUDING WITHOUT ANY WARRANTIES OF
            MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND ANY WARRANTY OR CONDITION OF NON-INFRINGEMENT. IBM products are warranted according to
            the terms and conditions of the agreements under which they are provided.
        </p>

        <p>
            The client is responsible for ensuring compliance with laws and regulations applicable to it. IBM does not provide legal advice or represent or
            warrant that its services or products will ensure that the client is in compliance with any law or regulation.
        </p>
    </div>
</div>