
<div class="row  anotherRow">
    <div class="col-sm-12">
        <img style="float:right;" id="highlight05" src="images/IBM_5-01.png" class="img-responsive allPicture thinPicture">
        <p>
            As the business landscape changes,
            90 percent of C-suite executives foresee
            deep collaboration with customers within
            the next three to five years<sup>1</sup> and expect
            to rely on digital technologies to boost
            engagement, create one-to-one dialogue
            and provide a superior experience. In addition,
            the IBM 2013 Global C-Suite Study found
            that outperforming organizations are
            54 percent more likely to collaborate deeply
            with customers.<sup>2</sup> That collaboration will
            only increase: 60 percent of CEOs expect
            customer influence to go beyond developing
            products to shaping business strategy.<sup>3</sup><br>
        </p>
        <p class="reference anotherQuote" >
            “ As customers gain more power over the
            business via social media, their expectations
            keep rising and their tolerance keeps
            decreasing.”<sup>4</sup><br>
            <em>—CIO, Retail, Turkey</em><br>
        </p>
        <p>
            However, with more information, options and
            resources readily available to consumers
            than ever before, customer loyalty is at risk.
            Comparison shopping is as easy as a few
            mouse clicks, and previously loyal customers
            can quickly discover an array of new
            products, new services and new vendors,
            and learn what other shoppers like and
            dislike—all without leaving their laptops,
            tablets or mobile phones. Reputations can
            be built and burned by opinions shared
            online, texted and tweeted by friends,
            followers, bloggers and advocacy groups.<br>
            The challenge for organizations is to tap into
            this vast flow of online commentary, weed out
            the information that matters, and then link that
            meaningful sentiment to specific customers
            in order to improve communications.
        </p>
    </div>
</div>

<div class="row anotherRow" >
    <div class="col-sm-12">
        <img style="float:right;"  id="highlight06" src="images/IBM_6-01.png" class="img-responsive allPicture thinPicture">
        <p >
            <span id="highlight03" class="highlight"><strong>The first step in gaining an enhanced
                    360-degree view of your customers is to
                    identify the available information as well
                    as its location.</strong></span> 
            The basic customer profile
            that exists across various internal systems
            provides a baseline of information, including
            name, address and contact details.
        </p>
        <p>
            <strong>Next, you need a view into sales
                transactions, support history and other
                interactions</strong> that exist in financial systems,
            customer relationship management (CRM)
            systems, customer support systems and
            other key applications. Then consider
            incorporating contracts, correspondence
            and information stored in email, PDFs and
            other unstructured documents.
        </p>
        <p>
            <strong>Finally, look beyond the enterprise into
                social media</strong> to create a complete picture
            of customer preferences and sentiments.
        </p>
        <p id="alignvertical">
            Social data can be full of useless “noise,”
            so be precise and thorough when evaluating
            information sources for trustworthiness.
            This effort will help you build a complete,
            well-informed picture of your customer.
            As you consider all these information
            sources, it’s also important to consider the
            level of confidence you have in each one.
            Which information is suitable for financial
            reporting? Which is appropriate only for
            trend analysis? Which can provide possible
            insights into a customer’s behavior, and
            which is sufficiently trusted that it can be
            used for important decisions?<br>
        </p>


        <p class="reference anotherQuote">“ 
            Big data is the buzz and digital is now the
            new normal. We need to change the way
            we work with our clients in this continuous
            virtual cycle.”<sup>5</sup>
            <em>—CMO, Banking, Singapore</em>
        </p>
    </div>
</div>
<div class="row  anotherRow">
    <div class="col-sm-12">
        <div class="pictureLittle  allPicture" style="float:right" >
            <figure>
                <img src="images/IBM_7-01.png" class="img-responsive">
            </figure>
            <figcaption>
                Figure 2. Customer analytics for capturing insights rank as a top future requirement for CMOs.
            </figcaption>
        </div>
        <p>
            <span>A single view increases satisfaction and
                maximizes the lifetime value of the
                relationship with a customer, a patient, a
                member or a citizen—any individual or
                organization critical to the business.</span> Gaining
            a full understanding of these entities—what
            makes them tick, why they buy, how they
            prefer to shop, why they switch, what
            they’ll buy next, what factors lead them
            to recommend a company to others—
            is a strategic endeavor for virtually every
            company. In fact, according to a report
            from the IBM Institute for Business Value,
            83 percent of CMOs plan to include
            customer analytics into their digital strategy
            in the next three to five years (see Figure 2).
        </p>


    </div>
</div>

