body {
	border: 1px solid #7b7b7b;
	border-radius: 4px;
	padding: 4px 13px 0 13px
}


.window-title {
	color: #7b7b7b;
	font-size: 15px;
}

.result {
	color: #7b7b7b;
	font-size: 15px;	
	visibility: hidden;
}

.result.show {
	color: red;
	visibility: visible;
}

a.popover-close,  a.popover-close {
	float: right;
	margin-bottom: 6px;
	color: #00a6a0;
	border: 1px solid transparent;
	padding: 0 2px;
	font-weight: bold;
}

a.popover-close:hover,  a.popover-close:active {
	text-decoration: none;
	border: 1px solid #000;
	cursor: pointer;
}

#btnSearch {
	margin-top: 10px;
	background-color: #00a6a0;
	border-color: #00a6a0;
}

#btnsearch:hover, #btnsearch:focus, #btnsearch:active {
	background-color: #00a6a0;
	border-color: #00a6a0;
}

input#searchText:focus {
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(31, 126, 158, .6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(31, 126, 158, .6);
	border-color: #00B2EE;
	}

form#formSearch {
	background-color: #ffffff;
	color: #000;
	border-color: #777;
}

form#formSearch .form-group {
	margin-bottom: 0;
}
