/* begin:  importing fonts */

@font-face {
    font-family: 'IBMHelveticaNeueLTPro-Bd';
    src: url('webfonts/IBMHelveticaNeueLTPro-Bd.eot'); /* IE9 Compat Modes */
    src: url('webfonts/IBMHelveticaNeueLTPro-Bd.eot?#iefix') format('embedded-opentype'),
        url('webfonts/IBMHelveticaNeueLTPro-Bd.woff') format('woff'),
        url('webfonts/IBMHelveticaNeueLTPro-Bd.ttf') format('truetype'),
        url('webfonts/IBMHelveticaNeueLTPro-Bd.otf');
}

@font-face {
    font-family: 'IBMHelveticaNeueLTPro-BdIt';
    src: url('webfonts/IBMHelveticaNeueLTPro-BdIt.eot'); /* IE9 Compat Modes */
    src: url('webfonts/IBMHelveticaNeueLTPro-BdIt.eot?#iefix') format('embedded-opentype'),
        url('webfonts/IBMHelveticaNeueLTPro-BdIt.woff') format('woff'),
        url('webfonts/IBMHelveticaNeueLTPro-BdIt.ttf') format('truetype'),
        url('webfonts/IBMHelveticaNeueLTPro-BdIt.otf');
}

@font-face {
    font-family: 'IBMHelveticaNeueLTPro-Hv';
    src: url('webfonts/IBMHelveticaNeueLTPro-Hv.eot'); /* IE9 Compat Modes */
    src: url('webfonts/IBMHelveticaNeueLTPro-Hv.eot?#iefix') format('embedded-opentype'),
        url('webfonts/IBMHelveticaNeueLTPro-Hv.woff') format('woff'),
        url('webfonts/IBMHelveticaNeueLTPro-Hv.ttf') format('truetype'),
        url('webfonts/IBMHelveticaNeueLTPro-Hv.otf');
}

@font-face {
    font-family: 'IBMHelveticaNeueLTPro-Lt';
    src: url('webfonts/IBMHelveticaNeueLTPro-Lt.eot'); /* IE9 Compat Modes */
    src: url('webfonts/IBMHelveticaNeueLTPro-Lt.eot?#iefix') format('embedded-opentype'),
        url('webfonts/IBMHelveticaNeueLTPro-Lt.woff') format('woff'),
        url('webfonts/IBMHelveticaNeueLTPro-Lt.ttf') format('truetype'),
        url('webfonts/IBMHelveticaNeueLTPro-Lt.otf');
}

@font-face {
    font-family: 'IBMHelveticaNeueLTPro-LtIt';
    src: url('webfonts/IBMHelveticaNeueLTPro-LtIt.eot'); /* IE9 Compat Modes */
    src: url('webfonts/IBMHelveticaNeueLTPro-LtIt.eot?#iefix') format('embedded-opentype'),
        url('webfonts/IBMHelveticaNeueLTPro-LtIt.woff') format('woff'),
        url('webfonts/IBMHelveticaNeueLTPro-LtIt.ttf') format('truetype'),
        url('webfonts/IBMHelveticaNeueLTPro-LtIt.otf');
}

@font-face {
    font-family: 'IBMHelveticaNeueLTPro-Md';
    src: url('webfonts/IBMHelveticaNeueLTPro-Md.eot'); /* IE9 Compat Modes */
    src: url('webfonts/IBMHelveticaNeueLTPro-Md.eot?#iefix') format('embedded-opentype'),
        url('webfonts/IBMHelveticaNeueLTPro-Md.woff') format('woff'),
        url('webfonts/IBMHelveticaNeueLTPro-Md.ttf') format('truetype'),
        url('webfonts/IBMHelveticaNeueLTPro-Md.otf');
}

@font-face {
    font-family: 'IBMHelveticaNeueLTPro-MdIt';
    src: url('webfonts/IBMHelveticaNeueLTPro-MdIt.eot'); /* IE9 Compat Modes */
    src: url('webfonts/IBMHelveticaNeueLTPro-MdIt.eot?#iefix') format('embedded-opentype'),
        url('webfonts/IBMHelveticaNeueLTPro-MdIt.woff') format('woff'),
        url('webfonts/IBMHelveticaNeueLTPro-MdIt.ttf') format('truetype'),
        url('webfonts/IBMHelveticaNeueLTPro-MdIt.otf');
}

@font-face {
    font-family: 'IBMHelveticaNeueLTPro-Roman';
    src: url('webfonts/IBMHelveticaNeueLTPro-Roman.eot'); /* IE9 Compat Modes */
    src: url('webfonts/IBMHelveticaNeueLTPro-Roman.eot?#iefix') format('embedded-opentype'),
        url('webfonts/IBMHelveticaNeueLTPro-Roman.woff') format('woff'),
        url('webfonts/IBMHelveticaNeueLTPro-Roman.ttf') format('truetype'),
        url('webfonts/IBMHelveticaNeueLTPro-Roman.otf');
}

@font-face {
    font-family: 'IBMHelveticaNeueLTPro-Th';
    src: url('webfonts/IBMHelveticaNeueLTPro-Th.eot'); /* IE9 Compat Modes */
    src: url('webfonts/IBMHelveticaNeueLTPro-Th.eot?#iefix') format('embedded-opentype'),
        url('webfonts/IBMHelveticaNeueLTPro-Th.woff') format('woff'),
        url('webfonts/IBMHelveticaNeueLTPro-Th.ttf') format('truetype'),
        url('webfonts/IBMHelveticaNeueLTPro-Th.otf');
}

@font-face {
    font-family: 'LubalinGraphLTDemi';
    src: url('webfonts/LubalinGraphLTDemi.eot'); /* IE9 Compat Modes */
    src: url('webfonts/LubalinGraphLTDemi.eot?#iefix') format('embedded-opentype'),
        url('webfonts/LubalinGraphLTDemi.woff') format('woff'),
        url('webfonts/LubalinGraphLTDemi.ttf') format('truetype'),
        url('webfonts/LubalinGraphLTDemi.otf');
}

/* end:  importing fonts */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* begin:  general styles */

html, body {
    height: 100%;
    position: relative;
}

::selection {
    background: #00a6a0; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #00a6a0; /* Gecko Browsers */
}

.highlight-search {
    display: inline !important;
}

.internal-anchor {
    padding-top: 60px;
    margin-top: -60px;
    display: inline-block;
    float: left;
}

.page {
    position: relative;
    padding-bottom: 45px;
}

.angle-down-container {
    position: absolute;
    display: inline-block;
    left: 50%;
    margin-left: -22px;
    bottom: 0;
    -webkit-animation: flash 6s infinite;
    -moz-animation: flash 6s infinite;
    animation: flash 6s infinite;
}

.angle-down-container .angle-down {
    font-size: 5em;
    color: #00a6a0;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:active,
.nav-pills > li.active > a:visited {
    background-color: #fff;
}

/* end:  genearl styles */

/* begin:  layout */

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    box-sizing: border-box;
}

.img-container {
    max-width: 100%;
    float: none;
}

.popover > .popover-content {
    position: relative;
}

.popover > .popover-content > .close {
    position: absolute;
    top: 0;
    right: 10px;
    color: #00a6a0;
    opacity: .9;
}

/* end:  layout */

/* begin:  navigation */

#popoverContent {
    position: fixed;
    z-index: 1100;
    right: 10px;
    top: 72px;
}

/* begin share selected text popover */

#shareSelectedTextPopOver ul {
    margin-bottom: 5px;
}

#shareSelectedTextPopOver ul li {
    padding-right: 5px;
    padding-left: 5px;
}

#shareSelectedTextPopOver ul li a i {
    color: #fff;
    font-size: 23px;
}

#shareSelectedTextPopOver ul li a:active i {
    color: #00B2EE;
}

#shareSelectedTextPopOver.arrow-box {
    position: absolute;
    z-index: 1010;
    background: #383838;
    border: 0px solid #383838;
    padding: 7px 3px 0px 10px;
    width: 140px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
}

#shareSelectedTextPopOver.arrow-box:after, #shareSelectedTextPopOver.arrow-box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#shareSelectedTextPopOver.arrow-box:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #383838;
    border-width: 9px;
    margin-left: -9px;
}

#shareSelectedTextPopOver.arrow-box:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #383838;
    border-width: 9px;
    margin-left: -9px;
}

/* end share selected text popover */


/* begin navbar right*/
.navbar-right #shareTabletPopOver li {
    min-width: 41px;
}

ul.navbar-right > li, ul.navbar-left > li {
    float: left;
    min-width: 23px;
    height: 40px;
}

.navbar-left li.visible-xs {
    padding-right: 2px;
    padding-left: 8px;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}

.navbar-right #shareTabletPopOver ul li {
    padding: 0 14px;
}

.navbar-right #shareTabletPopOver ul li a i {
    color: #fff;
    font-size: 24px;
}

.navbar-right #shareTabletPopOver ul li a:active i {
    color: #00B2EE;
}

.navbar-right #shareTabletPopOver.arrow-box {
    position: absolute;
    z-index: 1010;
    background: #383838;
    border: 0px solid #383838;
    padding: 14px 3px 6px 3px;
    width: 210px;
    left: -123px;
    top: 51px;
    border-radius: 4px;
}

.navbar-right #shareTabletPopOver.arrow-box:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #383838;
    border-width: 9px;
    margin-left: -9px;
}

.navbar-right #shareTabletPopOver.arrow-box:after, .navbar-right #shareTabletPopOver.arrow-box:before {
    bottom: 100%;
    left: 70%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.navbar-right #shareTabletPopOver.arrow-box:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #383838;
    border-width: 10px;
    margin-left: -10px;
}

.navbar-right #shareTabletPopOver.arrow-box:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #383838;
    border-width: 9px;
    margin-left: -9px;
}

.navbar-right #shareTabletPopOver.arrow-box ul.list-inline{
    margin-left:5px;
}
/* end navbar right*/

/* begin: dynamic nav bar */
#dynamicNavBar {
    width: 100%;
    z-index: 1005;
    border: 0;
    margin: 0;
}

#dynamicNavBar.affix-top {
    position: fixed;
    top: -100%;
    z-index: 100;
}

#dynamicNavBar .container-fluid {
    padding: 0;
}

#dynamicNavBar .navbar-nav {
    margin: 0;
}

#dynamicNavBar .navbar-left {
    float: left !important;
}

#dynamicNavBar .navbar-right {
    float: right !important;
}

#dynamicNavBar .navbar-right li {
    float: left;
    min-width: 40px;
}

#dynamicNavBar .navbar-right > li > .link-icon {
    cursor: pointer;
    padding: 5px 8px 0 8px;
    height: 100%;
}

#dynamicNavBar .navbar-right .link-icon p {
    font-family: 'IBMHelveticaNeueLTPro-Md', Arial, sans-serif;
    font-size: 18px;
    color: #494949;
    margin: 0;
    padding: 8px 15px;
}

#dynamicNavBar .navbar-right .link-icon .icon {
    margin: 0 auto;
}

#dynamicNavBar .navbar-right .link-icon.open .highlight-icon {
    background: url(../images/close-icon01.png) no-repeat center;
}

#dynamicNavBar .navbar-right .link-icon.open p {
    background-color: #00a6a0;
    color: #fff;
}

#dynamicNavBar .navbar-right .link-icon .highlight-icon {
    width: 19px;
    height: 33px;
    background: url(../images/highlight-icon.png) no-repeat center;
    background-size: cover;
}

#dynamicNavBar .navbar-right .link-icon.open .share-icon {
    background: url(../images/close-icon01.png) no-repeat center;
}

#dynamicNavBar .navbar-right .link-icon .share-icon {
    width: 36px;
    height: 33px;
    background: url(../images/icon-share.png) no-repeat center;
    background-size: cover;
}

#dynamicNavBar .navbar-right .link-icon .search-icon {
    width: 24px;
    height: 33px;
    background: url(../images/search-icon.png) no-repeat center;
}

#dynamicNavBar .navbar-right .link-icon.open .search-icon {
    background: url(../images/close-icon01.png) no-repeat center;
}

#dynamicNavBar .navbar-left .link-icon {
    cursor: pointer;
}

#dynamicNavBar .navbar-left .link-icon.highlight-icon {
    padding: 0;
}

#dynamicNavBar .navbar-left .link-icon p {
    font-family: 'IBMHelveticaNeueLTPro-Md', Arial, sans-serif;
    font-size: 18px;
    color: #494949;
    margin: 0;
    padding: 4px 5px;
    display: inline-block;
    vertical-align: bottom;
}

#dynamicNavBar .navbar-left .link-icon .icon {
    margin: 0 auto;
}

#dynamicNavBar .navbar-left .link-icon.open .highlight-icon {
    background: url(../images/close-icon01.png) no-repeat center;
}

#dynamicNavBar .navbar-right .link-icon.open p {
    background-color: #00a6a0;
    color: #fff;
}

#dynamicNavBar .navbar-left .link-icon .highlight-icon {
    width: 19px;
    height: 33px;
    background: url(../images/highlight-icon.png) no-repeat center;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}

#dynamicNavBar .navbar-left .link-icon .menu-icon {
    width: 25px;
    height: 23px;
    background: url(../images/menu-icon-sprite.png) no-repeat center;
    background-position: 0px 0px;
    cursor: pointer;
}

#dynamicNavBar .navbar-left .link-icon .menu-icon.open {
    width: 25px;
    height: 27px;
    background: url(../images/menu-icon-sprite.png) no-repeat center;
    background-position: 0px -33px;
}

#dynamicNavBar .navbar-left .navbar-active-label .main-label {
    font-family: 'IBMHelveticaNeueLTPro-Md', Arial, sans-serif;
    font-size: 16px;
    margin-top: 10px;
    padding: 0;
    color: #494949;
    pointer-events: none;
    cursor: default;
    display: inline-block;
    height: 20px;
    overflow: hidden;
}

#dynamicNavBar .navbar-left .navbar-active-label .main-label:before {
    content: "";
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    background-color: #00a6a0;
    margin-top: 5px;
    margin-right: 10px;
}

#dynamicNavBar .navbar-left .navbar-active-label .secondary-label {
    font-family: 'IBMHelveticaNeueLTPro-Th', Arial, sans-serif;
    padding: 0;
    color: #494949;
    pointer-events: none;
    cursor: default;
    display: inline-block;
    font-size: 16px;
    line-height: 17px;
    height: 25px;
    overflow: hidden;
    padding:  0;
    margin-top: 25px;
    padding-bottom: 25px;
}

#dynamicNavBar .navbar-left .navbar-active-label .secondary-label .fa-circle {
    font-size: 11px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
    color: #00a6a0;
}

#dynamicNavBar .link-icon .fa {
    font-size: 30px;
    display: block;
    text-align: center;
}

#dynamicNavBar .navbar-active-label li {
    display: none;
}

#dynamicNavBar .navbar-active-label li.active {
    display: block;
}

#dynamicNavBar .nav.navbar-nav.navbar-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    position: relative;
    vertical-align: middle;
}

#dynamicNavBar .nav.navbar-nav.navbar-justified > li {
    display: block;
    width:100%;
    vertical-align: middle;
}

#dynamicNavBar .nav.navbar-nav.navbar-justified>li.crumbs-first {
    height: 10px;
}

#dynamicNavBar .nav.navbar-crumbs {
    background: #dddddd;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    height: 10px;
}

#dynamicNavBar .nav.navbar-crumbs li {
    padding-left: .4%;
    background: none;
    line-height: 9px;
    position: relative;
    height: 10px;
    float: left;
}

#dynamicNavBar .nav.navbar-crumbs li a, #dynamicNavBar .nav.navbar-crumbs li.active a {
    color: #b7b7b7;
    display: none;
    width: 100%;
    font-size: 10px;
    line-height: 10px;
    padding: 0;
    border: 0;
    background: none;
    border-radius: 0;
    margin-left: -10px;
}

#dynamicNavBar .nav.navbar-crumbs li a:hover, #dynamicNavBar .nav.navbar-crumbs li.active a:focus {
    color: #00a6a0;
}

#dynamicNavBar .nav.navbar-crumbs li:first-child a {
    margin-left: 0;
}

#dynamicNavBar .nav.navbar-crumbs li a span.arrow_box {
    color: #00a6a0;
    border: 1px solid #cccccc;
    background: #ffffff;
    position: absolute;
    display: none;
    font-size: 12px;
    bottom: 22px;
    left: -78px;
    padding: 5px;
    width: 171px;
    z-index: 1001;
    box-shadow: -1px 0px 5px #7e7e7e;
    -webkit-box-shadow: -1px 0px 5px #7e7e7e;
}

#dynamicNavBar .nav.navbar-crumbs li a span.arrow_box:after, #dynamicNavBar.nav.navbar-crumbs li a span.arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#dynamicNavBar .nav.navbar-crumbs li a span.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #ffffff;
    border-width: 7px;
    margin-left: -7px;
}

#dynamicNavBar .nav.navbar-crumbs li a span.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #cccccc;
    border-width: 9px;
    margin-left: -9px;
}

#dynamicNavBar .nav.navbar-crumbs li a:hover span {
    display: none;
}

/*#dynamicNavBar .nav.navbar-crumbs li:last-child a:hover span {
    display: block;
    left: -82px;
}*/

#dynamicNavBar .nav.navbar-crumbs li.active > a,
#dynamicNavBar.nav.navbar-crumbs li.active > a:hover,
#dynamicNavBar .nav.navbar-crumbs li.active > a:active {
    background: none;
    box-shadow: none;
}

#dynamicNavBar .nav.navbar-crumbs li.active a {
    color: #00a6a0;
}

#dynamicNavBar .nav.navbar-crumbs a .fa-square {
    font-size: 10px;
}

/* end: dynamic nav bar */

/* begin: left and right menus */

.side-menu {
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 1;
    transition: all 0.4s ease;
    height: calc(100% - 50px);
    height: auto;
    margin-left: 0;
    margin-right: 0;
    bottom: 0;
    -webkit-overflow-scrolling: touch;
}

.side-menu.right-menu {
    float: right;
    right: -100%;
    background-color: #F4F4F4;
    z-index: 1001;
    box-shadow: 0px 0px 6px #999;
}

.side-menu.right-menu .panel-group .highlight-title {
    font-family: 'IBMHelveticaNeueLTPro-LtIt', Arial, sans-serif;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 5px 0 0 47px;
    position: relative;
    line-height: 20px;
}

.side-menu.right-menu .panel-group .highlight-title:before {
    content: "";
    width: 27px;
    height: 48px;
    background: url(../images/highlight-icon.png) no-repeat center;
    position: absolute;
    left: 0;
    top: 0;
}

.side-menu.right-menu.open {
    right: 0px;
}

.side-menu.left-menu {
    float: left;
    left: -100%;
    background-color: #FFFFFF;
}

.side-menu.left-menu.open {
    left: 0;
}

.side-menu.left-menu .nav {
    display: table;
}

.side-menu.left-menu .nav li, .side-menu.left-menu .nav li.active {
    display: table;
    width: 100%;
    border-bottom: 1px #e1e1e1 solid;
    padding: 2px 10px 2px 5px;
    margin: 0;
}

.side-menu.left-menu .nav li:hover {
    background-color: #AEEEFF;
}

.side-menu.left-menu .nav li.section {
    margin-top: 50px;
}

.side-menu.left-menu .nav li.section:first-child {
    margin-top: 0;
}

.side-menu.left-menu .nav li a.section .text {
    font-family: 'IBMHelveticaNeueLTPro-Th', Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: #fff;
}

.side-menu.left-menu .nav li a {
    width: 100%;
    display: table-row;
}

.side-menu.left-menu .nav li a,
.side-menu.left-menu .nav li a:focus,
.side-menu.left-menu .nav li a:hover,
.side-menu.left-menu .nav li a:active,
.side-menu.left-menu .nav li a:visited {
    background-color: transparent;
}

.side-menu.left-menu .nav li.section, .side-menu.left-menu .nav li.section:active {
    background-color: #00a6a0;
}

.side-menu.left-menu .nav li a .fa, .side-menu.left-menu .nav li a .text {
    display: table-cell;
    vertical-align: middle;
}

.side-menu.left-menu .nav li a .fa-chevron-right {
    display: none;
}

.side-menu.left-menu .nav li a .fa {
    width: 10%;
    color: #C4C4C4;
    text-align: center;
    padding: 0;
}

.side-menu.left-menu .nav li a .fa-circle {
    color: #00a6a0;
}

.side-menu.left-menu .nav li a .fa-angle-right {
    display: table-cell;
    padding: 0 10px;
    vertical-align: middle;
    font-size: 49px;
    line-height: 49px;
    visibility: hidden;
}

.side-menu.left-menu .nav li.section a .fa-angle-right {
    visibility: hidden;
}

.side-menu.left-menu .nav li a .text {
    font-family: 'IBMHelveticaNeueLTPro-Lt', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    width: 75%;
    color: #777777;
}

.side-menu.right-menu .fa.fa-angle-right {
    color: #c4c4c4;
    font-size: 30px;
}

/* end: left and right menus */

/* end:  navigation */

/* begin:  cover */

#cover {
    text-align: center;
    position: relative;
    height: 100%;
    min-height: 480px;
    background: #c8fbff; /* Old browsers */
    background: -moz-linear-gradient(top,  #c8fbff 0%, #c8fbff 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8fbff), color-stop(0%,#c8fbff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c8fbff 0%,#c8fbff 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c8fbff 0%,#c8fbff 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c8fbff 0%,#c8fbff 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c8fbff 0%,#c8fbff 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8fbff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    background-size: cover;

}

#cover .cover-date {
    position: relative;
    font-family: 'IBMHelveticaNeueLTPro-Lt';
    color:#1c6058;
    font-size: 18px;
    top: 10px;
    right: 5px;
    font-weight: 700;
}

#cover .small-logo {
    position: relative;
    top: 10px;
    left: 10px;
    max-width: 66px;
}

#cover .cover-container {
    display: table;
    height: 100%;
    width: 100%;
    padding: 0;
}

#cover .cover-centered:before,
#cover .cover-centered:after {
    display: table;
    content: " ";
}

#cover .cover-centered:after {
    clear: both;
}

#cover .cover-centered {
    vertical-align: middle;
    text-align: center;
    max-width: 945px;
    margin: 50px 0;
}

#cover .main-title {
    font-family: "IBMHelveticaNeueLTPro-Lt", Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #3D3D3D;
    margin: 10px 0 5px 0;
}

#cover .main-title strong {
    font-family: "LubalinGraphLTDemi", Helvetica, sans-serif;
}

#cover .secondary-title {
    font-family: "IBMHelveticaNeueLTPro-Lt", Helvetica, sans-serif;
    font-size: 30px;
    color: #00a6a0;
    margin: 5px 0;
    font-weight: 800;
    margin-top: 10px;
}

#cover .desc-title {
    font-family: 'IBMHelveticaNeueLTPro-LtIt', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #727272;
    margin-top: 15px;
}

#cover .img-logo {
    max-width: 260px;
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}

/* end:  cover */

.social-share{
    position: fixed;
}

.social-share li{
    list-style: none;
}

/* begin:  contentTable */
#contentTable {
    max-width: 1200px;
}

#contentTable .table-content-title, #contentTable .highlights-title {
    color: #777777;
    font-family: 'IBMHelveticaNeueLTPro-Lt', Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
}

#contentTable .i-icon {
    margin-top: 5px;
    padding: 4px;
}

#contentTable .panel-content {
    border: none;
    padding: 0;
    margin: 0 10px 45px 10px;
}

#contentTable .panel-content ul {
    margin: 0;
}

#contentTable .panel-content .panel-heading {
    background: #00a6a0;
    padding: 5px 15px;
    display: table;
    border-radius: 0;
    width: 100%;
    border: 0;

}

#contentTable .panel-content .panel-heading a {
    font-family: 'IBMHelveticaNeueLTPro-Th', Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

#contentTable .panel-content .panel-heading a:hover {
    text-decoration: none;
}

#contentTable .panel-content .panel-body {
    padding: 0;
}

#contentTable .panel-content .panel-body li:first-child {
    border-top: 1px #e1e1e1 solid;
}

#contentTable .panel-content .panel-body li {
    border-bottom: 1px #e1e1e1 solid;
    padding: 15px 10px 15px 5px;
}

#contentTable .panel-content .panel-body li:hover {
    background-color: #AEEEFF;
}

#contentTable .panel-content .panel-body li a {
    color: #777;
    font-size: 16px;
    min-height: 50px;
    display: table;
}

#contentTable .panel-content .panel-body li a:hover,
#contentTable .panel-content .panel-body li a:active,
#contentTable .panel-content .panel-body li a:focus,
#contentTable .panel-content .panel-body li a:visited {
    text-decoration: none;
}

#contentTable .panel-content .panel-body li a .content-col {
    padding: 4px 0 4px 15px;
}

#contentTable .panel-content .panel-body li .fa-circle {
    color: #00a6a0;
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px 0 6px;
    font-size: 12px;
}

#contentTable .tb-body-text {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    font-size: 16px;
    font-family: 'IBMHelveticaNeueLTPro-Lt';
    line-height: 20px;
    font-weight: 700;
}

#contentTable .panel-content a .fa-angle-right {
    padding: 0 10px;
    vertical-align: middle;
    font-size: 49px;
    line-height: 49px;
    /*display: none;*/
    visibility: hidden;
}

#acordionHighlights .panel-highlight, .side-menu.right-menu .panel-highlight {
    display: inline-block;
    vertical-align: top;
    width: 98%;
    margin: 14px 5px 8px auto;
    border: none;
    box-shadow: 1px 2px 3px #999;
}

#acordionHighlights .btn-highlight, #acordionHighlightsSideMenu .btn-highlight {
    width: 100%;
    white-space: normal;
    background: #e0e0e0;
    border: 0px;
    border-left: 8px solid #00a6a0;
    color: #565656;
    cursor: pointer;
    line-height: 1.2em;
    font-size: 20px !important;
    font-weight: 100 !important;
    margin: 0;
    padding: 14px 3px 12px 14px;
    text-align: left;
    border-radius: 1px;
}

#acordionHighlights .btn-highlight:hover, #acordionHighlightsSideMenu .btn-highlight:hover {
    color: #00B2EE;
}

#contentTable .fa.fa-bars {
    font-size: 38px;
}

#contentTable .highlights-title .fa.fa-bookmark {
    margin-right: 25px;
}

#contentTable .highlights-title .fa.fa-bookmark:before {
    content: "";
    background: url(../images/highlight-icon.png) no-repeat center bottom;
    position: absolute;
    width: 27px;
    height: 32px;
    background-size: auto 32px;
    top: 0;
}

#acordionHighlights .panel-heading .btn-highlight:hover .text-btn,
#acordionHighlightsSideMenu .panel-heading .btn-highlight:hover .text-btn {
    color: #00a6a0;
}

#acordionHighlightsSideMenu .btn-highlight.collapsed .fa.fa-plus,
#acordionHighlights .btn-highlight.collapsed .fa.fa-plus {
    display: inline-block;
}

#acordionHighlightsSideMenu .btn-highlight .fa.fa-plus,
#acordionHighlights .btn-highlight .fa.fa-plus {
    display: none;
}

#acordionHighlightsSideMenu .btn-highlight.collapsed .fa.fa-minus,
#acordionHighlights .btn-highlight.collapsed .fa.fa-minus {
    display: none;
}

#acordionHighlights .nav .btn-highlight,
#acordionHighlightsSideMenu .nav .btn-highlight {
    font-size: 16px !important;
}

#acordionHighlights .nav .btn-highlight:hover,
#acordionHighlightsSideMenu .nav .btn-highlight:hover {
    background: #00a6a0;
    color: #fff;
}

#acordionHighlights .nav .btn-highlight:hover .text-btn,
#acordionHighlightsSideMenu .nav .btn-highlight:hover .text-btn {
    color: #fff;
}

#acordionHighlights .nav .btn-highlight:hover .fa,
#acordionHighlightsSideMenu .nav .btn-highlight:hover .fa {
    color: #fff;
}

#acordionHighlights .btn-highlight .text-btn,
#acordionHighlightsSideMenu .btn-highlight .text-btn {
    width: 80%;
    border-right: none;
    color: #565656;
    font-family: IBMHelveticaNeueLTPro-Md, Helvetica, sans-serif;
    font-size: 16px;
}

#acordionHighlights .btn-highlight .text-btn:hover, #acordionHighlightsSideMenu .btn-highlight .text-btn:hover {
    background-color: inherit;
}

#acordionHighlights .nav .btn-highlight .fa,
#acordionHighlightsSideMenu .nav .btn-highlight .fa {
    font-size: 30px;
    text-align: right;
    width: 12%;

}

#acordionHighlights .btn-highlight .fa,
#acordionHighlightsSideMenu .btn-highlight .fa {
    width: 6%;
    margin: 0 6px;
    font-size: 20px;
    color: #00a6a0;
}

.panel-collapse .panel-body {
    width: 100%;
}

#acordionHighlightsSideMenu .sub-menu .btn-highlight, #acordionHighlightsSideMenu .sub-menu .fa {
    display: table-cell;
    vertical-align: middle;
}

#acordionHighlights .btn-highlight .text-btn, #acordionHighlights .btn-highlight .fa,
#acordionHighlightsSideMenu .btn-highlight .text-btn, #acordionHighlightsSideMenu .btn-highlight .fa {
    display: inline-block;
    vertical-align: middle;
}

#acordionHighlights, #acordionHighlightsSideMenu {
    background: #f4f4f4;
    padding: 7px 10px 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#acordionHighlightsSideMenu {
    margin-left: 0;
}

.panel-highlight .panel-heading {
    padding: 0;
    margin: none;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: 0;
    padding: 0;
}

.panel-group .panel-highlight .panel-body {
    padding: 0;
    border: 0 !important;
    text-align: right;
    float: right;
}

.panel-highlight .panel-body a {
    padding: 10px 0;
    border-right: 8px solid #008ABF;
}

/* end:  contentTable */

/* begin:  sections */

.sections {
    padding: 0;
}

.sections .section .container.section-header {
    padding: 0 5px;
}

.sections .section .section-body {
    padding: 25px 15px 10px 15px;
}

.sections .section .section-header {
    background: #fff;
    min-height: 50px;
    border-top: 1px solid #777;
    display: table;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
    transition: min-height 0.8s, display 0.8s, font-size 0.8s ease-in-out;
}

.sections .section.opened .section-header {
    border-top: 1px solid transparent;
    margin-top: 0;
}

.sections .section .section-header.main {
    background: #00a6a0;
}

.sections .section .section-header.main:active .section-title {
    color: #fff;
}

.sections .section .section-header:active {
    background: #AEEEFF;
}

.sections .section.opened:last-child .section-header:active {
    background: #00B2EE;
}

.sections .section:last-child .section-header {
    border-bottom: 1px solid #777;
}

.sections .section:last-child.opened .section-header {
    border-bottom: 1px solid transparent;
}




.sections .section .section-header .section-title {
    display: table-cell;
    vertical-align: middle;
    font-family: 'IBMHelveticaNeueLTPro-Lt' Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #777;
    width: 100%;
}

.sections .section .section-header.main .section-title {
    color: #fff;
}

.sections .section .section-header i.fa-circle {
    display: table-cell;
    vertical-align: middle;
    width: 20px;
    padding: 0 10px;
    font-size: 20px;
    color: #00a6a0;
}

.sections .section .section-header.main i.fa {
    color: #fff;
}

.sections .section .section-header.main i.fa-circle:hover {
    color: #00a6a0;
}

.sections .section .section-body p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 20px;
}

/* begin:  blockquote */

.sections .section .section-body blockquote h4 {
    color: #00B2EE;
    font-weight: bold;
}

.sections .section .section-body blockquote.body-green {
    border-left: 0;
    margin: 0;
    padding: 0 10px;
}

.sections .section .section-body blockquote.body-green hr {
    border-top: 1px solid #7d7d7d;
}

.sections .section .section-body blockquote p.quote-body, .sections .section .section-body blockquote.body-green p.quote-body {
    color: #00000;
}

.sections .section .section-body blockquote.body-green p.quote-body {
    font-size: 22px;
    color: #00B2EE;
    font-style: italic;
}

.sections .section .section-body blockquote.body-green .footer cite, .sections .section .section-body blockquote.body-green .footer .quote-position {
    font-size: 16px;
    font-family: 'IBMHelveticaNeueLTPro-Roman', Arial, sans-serif;
    color: #00B2EE;
}

.sections .section .section-body blockquote.body-green .footer .quote-position {
    margin-left: 15px;
}

/* end:  blockquote */

/* begin:  lists */
.sections .section .section-body ul {
    margin: 25px 0;
}

.sections .section .section-body ul li {
    /*height: 39px;*/
    padding: 12px 0;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    font-size: 14px;
}

.sections .section .section-body ul.list-unstyled.circle li {
    display: table-row;
}

.sections .section .section-body ul.list-unstyled.circle li::before {
    content: "\f111";
    display: table-cell;
    padding: 10px 12px 10px 0;
    color: #00B2EE;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.sections .section .section-body ul li .fa.fa-circle {
    color: #00B2EE;
    margin-right: 10px;
}

/* end:  lists */

.sections .section .section-body h3 {
    font-size: 18px;
}

.sections .section .section-body figure {
    margin-bottom: 15px;
}

.sections .section .section-body figcaption {
    margin-top: 6px;
    font-family: 'IBMHelveticaNeueLTPro-LtIt', Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 10px;
}

/* end:  sections */

.section.more_information {
    background-color: #00a6a0;
    color: #fff;
}

.sections .section.more_information .title {
    font-family: IBMHelveticaNeueLTPro-Lt;
    font-size: 36px;
    margin-bottom: 35px;
}

.section.more_information .section-body a {
    display: inline-block;
    background-color: #fff;
    padding: 6px 35px 6px 10px;
    color: #00a6a0;
    margin-bottom: 10px;
    position: relative;
}

.section.more_information .section-body a:hover {
    background-color: #a7e9ff;
}

.section.more_information .section-body a span {
    /*display: inline-block;*/
    /*vertical-align: middle;*/
}

.section.more_information .section-body a .fa {
    font-size: 37px;
    width: 13px;
    vertical-align: middle;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto 10px auto auto;
    height: 37px;
}


.sections .section .section-header i.fa {
    display: table-cell;
    vertical-align: middle;
    width: 20px;
    padding: 0 10px;
    font-size: 20px;
    color: #00a6a0;
}

.section.more_information .section-body p {
    font-size: 20px;
    margin-bottom: 5px;
    font-family: 'IBMHelveticaNeueLTPro-Lt', Arial, sans-serif;
}

.sections .section.sources .section-body ol {
    margin-bottom: 40px;
}

.sections .section.sources .section-body li {
    height: auto;
    font-family: 'IBMHelveticaNeueLTPro-Lt', Arial, sans-serif;
    font-weight: 600;
}

.sections .section.sources .section-body h3 {
    font-size: 18px;
    color: #00a6a0;
    font-size: 36px;
    font-family: 'IBMHelveticaNeueLTPro-Lt', Arial, sans-serif;
    font-weight: 600;
}

.sections .section.sources .section-body p {
    font-family: 'IBMHelveticaNeueLTPro-Lt', Arial, sans-serif;
    font-weight: 600;
}

.sections .section.sources .section-body .ibm-copyright {
    color: #008ABF;
}

.sections .section.sources .section-body .ibm-copyright {
    color: #00a6a0;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'IBMHelveticaNeueLTPro-Lt', Arial, sans-serif;
}


@media (min-width:1366px){
    .anotherQuote{
        width: 30%;
    }
}

@media (min-width:1920px){
    .anotherRow{
        padding-bottom: 50px;
    }
}

@media (min-width:1024px){
    .allPicture{
        margin: 0px 0px 0px 30px;
    }
}

@media (min-width:1366px){
    .anotherPicture{
        padding-left: 50px;
        padding-right: 50px;
    }
    .pictureLittle{
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    .thinPicture{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width:320px) and (max-width:1024px){
    .anotherQuote{
        width: 75%;
    }
}

@media screen and (min-width:320px) and (max-width:480px) and (max-device-width: 640px) {
 #cover .cover-centered {
     display:table-cell;
     vertical-align: middle;
 }
 
  .container-fluid.page {
        display: table;
    }
}


@media screen and (min-width:320px) and (max-width:568px) and (device-aspect-ratio: 40/71) and (max-device-width: 640px) {
 #cover .cover-centered {
    margin-top: 25%;
 }
}


@media (max-width: 480px) {
    #cover .small-logo {
        top: 5px;
    }

    #cover .secondary-title{
        font-size: 24px;
    }

    #cover .cover-date {
        top: 0;
    }

    #cover .img-logo {
     
    }
    
    #cover .cover-container {
        margin-top: 10%;
    }

    .section.more_information .section-body a span {
        font-size: 17px; 
        white-space: nowrap;
    }

    .section.more_information .section-body a .fa {
        font-size: 27px;
        height: 27px;
    } 
}



@media (min-width: 480px) {
    #cover {
        min-height: auto;
    }

    #cover .img-logo {
        margin-bottom: 0;
    }

    #cover .cover-centered {
        display: table-cell;
        margin: 0;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* begin:  genearl styles */
    .container-fluid.page {
        padding: 0 60px;
    }

    .internal-anchor {
        padding-top: 85px;
        margin-top: -85px;
        display: inline-block;
        float: left;
    }

    .float-right {
        float: right;
    }

    /* end:  genearl styles */
    /* begin:  layout */
    .img-container {
        max-width: 48%;
    }

    .img-container.left {
        margin: 5px 15px 15px 0;
        float: left;
    }

    .img-container.right {
        margin: 15px 0 15px 15px;
        float: right;
    }

    /* end:  layout */
    #popoverContent {
        top: 110px;
    }

    .side-menu {
        top: 82px;
        width: 320px;
        overflow-y: auto;
    }

    .side-menu.left-menu {
        left: -320px;
    }

    .side-menu.right-menu {
        right: -320px;
    }

    .shift {
        transition: all 0.4s ease;
    }

    .shift-left {
        -moz-transform: translate(320px, 0px);
        -webkit-transform: translate(320px, 0px);
        -ms-transform: translate(320px, 0px);
        -o-transform: translate(320px, 0px);
        transform: translate(320px, 0px);
    }

    .shift-right {
        -webkit-transform: translateX(-320px);
        -ms-transform: translateX(-320px);
        transform: translateX(-320px);
    }

    .side-menu.right-menu {
        border-left: 2px solid #999;
    }

    .navbar-right #shareTabletPopOver ul li a i {
        color: #fff;
        font-size: 44px;
    }

    #dynamicNavBar .dynamic-navbar-container {
        padding: 0 10px 0 10px;
    }

    #dynamicNavBar .navbar-left .link-icon {
        padding-top: 26px;
        padding-bottom: 22px;
    }

    #dynamicNavBar .navbar-active-label {
        margin-top: 5px;
        max-width: 400px;
    }

    #dynamicNavBar .navbar-right > li > .link-icon {
        padding: 7px 0 0 0;
    }

    #dynamicNavBar .navbar-right .link-icon p {
        padding: 6px 8px;
    }

    ul.navbar-right > li, ul.navbar-left > li {
        height: 72px;
    }

    .navbar-right #shareTabletPopOver.arrow-box {
        position: absolute;
        z-index: 1010;
        background: #383838;
        border: 0px solid #383838;
        padding: 15px 3px;
        width: 284px;
        left: -153px;
        top: 82px;
    }

    .navbar-right #shareTabletPopOver.arrow-box:after, .navbar-right #shareTabletPopOver.arrow-box:before {
        bottom: 100%;
        left: 64%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .navbar-right #shareTabletPopOver.arrow-box:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #383838;
        border-width: 10px;
        margin-left: -10px;
    }

    .navbar-right #shareTabletPopOver.arrow-box:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #383838;
        border-width: 9px;
        margin-left: -9px;
    }

    #dynamicNavBar .nav.navbar-crumbs li a, #dynamicNavBar .nav.navbar-crumbs li.active a {
        display: block;
        pointer-events: auto;
    }

    /* begin:  cover */
    #cover .img-logo {
        max-width: 310px;
        margin-bottom: 30px;
    }

    #cover .cover-date {
        top: 20px;
        right: 16px;
    }

    #cover .small-logo {
        top: 20px;
        max-width: 100%;
    }

    #cover .main-title {
        font-size: 28px;
        margin-top: 40px;
    }

    #cover .secondary-title {
        font-size: 36px;
        line-height: 36px;
        margin-top: 30px;
    }

    #cover .desc-title {
        font-size: 22px;
        line-height: 26px;
        margin-top: 30px;
       
    }

    /* end:  cover */
    /* begin:  contentTable */
    #contentTable .panel-content {
        padding: 0 15px;
        margin: 0 0 45px 0;
    }

    #contentTable .panel-content:nth-child(even) {
        float: right;
    }

    #contentTable .panel-content .panel-heading {
        text-align: center;
        padding: 7px 15px;
    }

    #contentTable .highlights-title .fa.fa-bookmark:before {
        width: 27px;
        height: 35px;
        background-size: auto 35px;
    }

    #acordionHighlights .panel-highlight, #acordionHighlightsSideMenu .panel-highlight {
        width: 47%;
        margin: 14px 5px 8px 14px;
    }

    #acordionHighlightsSideMenu .panel-highlight {
        width: 98%;
    }

    #contentTable .angle-down-container {
        position: relative;
    }

    /* end:  contentTable */
    /* begin:  sections */
    .sections .section {
        padding: 0 60px;
    }

    .sections .section.opened {
        padding: 0;
    }

    .sections .section .section-header:active {
        background-color: #00B2EE;
    }

    .sections .section.opened .section-header.main .section-title {
        font-size: 36px;
        line-height: 45px;
    }

    .sections .section.opened .section-header {
        padding: 0 60px;
    }

    .sections .section.opened .section-header.main {
        min-height: 185px;
        height: 185px;
    }

    .sections .section.opened .section-header .fa {
        display: none;
    }

    .sections .section .section-header {
        pointer-events: none;
        cursor: default;
    }

    .sections .section .section-header .section-title a {
        pointer-events: none;
        cursor: default;
    }

    .sections .section .section-header .section-title {
        font-size: 22px;
    }

    .sections .section .section-body {
        padding: 15px 60px 45px 60px;
    }

    .sections .section .section-body figcaption {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .section.more_information .section-body a {
        font-size: 18px;
        margin-bottom: 50px;
    }

    .section.more_information .section-header .section-title {
        margin-top: 45px;
        margin-bottom: 20px;
    }

    /* end:  sections */
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* begin:  layout */ .sections .sources .section-header {
    display: none;
}
    .vcenter {
        padding-left: 20px;
        text-align: left;
    }

    .vcenter.left {
        width: 30%;
        padding-left: 20px;
    }

    .vcenter.right {
        width: 59%;
    }

    /* end:  layout */
    /* begin:  cover */
    #cover {
        padding: 0;
        text-align: left;
    }

    #cover .small-logo {
        display: block;
    }

    #cover .img-logo {
        float: right;
        margin-right: 20px;
    }

    #cover .main-title {
        font-size: 28px;
        margin-top: 0;
    }

    #cover .secondary-title {
        margin-top: 15px;
    }

    #cover .desc-title {
        margin-top: 20px;
        max-width: 625px; 
    }

    /* end:  cover */
    #dynamicNavBar .dynamic-navbar-container {
        padding: 0 60px 0 150px;
    }

    #dynamicNavBar .navbar-active-label {
        max-width: 450px;
    }

    /* begin:  contentTable */
    #contentTable .table-content-title, #contentTable .highlights-title {
        padding-left: 0;
    }

    /* end:  contentTable */
    /* begin:  sections */
    .sections .section.more_information .section-header:hover {
        background-color: #00B2EE;
    }

    .sections .section.opened .section-header.main:hover {
        background: #00a6a0;
    }

    .sections .section .section-body {
        padding: 15px 60px 45px 180px;
    }

    .sections .section .section-body ul li {
        font-size: 16px;
    }

    .sections .section.opened .section-header {
        padding: 0 60px 0 180px;
    }

    .sections .section:last-child.opened .section-header {
        background-color: #00B2EE;
    }

    /* end:  sections */
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    /* begin:  contentTable */
    #contentTable .highlights-title .fa.fa-bookmark:before {
        height: 35px;
    }
  .sections .sources .section-header {
    display: none;
}
    #acordionHighlights, #acordionHighlightsSideMenu {
        margin-right: 0;
        margin-left: 0;
    }


    #contentTable .panel-content a:hover .fa-angle-right,
    #contentTable .panel-content a:active .fa-angle-right,
    #contentTable .panel-content a:focus .fa-angle-right,
    #contentTable .panel-content a:visited .fa-angle-right {
        /*display: block;*/
        visibility: visible;
    }

    #contentTable .panel-content .panel-body li {
        padding: 0 10px 0 5px;
    }

    #acordionHighlights .panel-highlight, #acordionHighlightsSideMenu .panel-highlight {
        width: 98%;
        margin: 14px 5px 8px auto;
    }

    /* end:  contentTable */
    #dynamicNavBar .nav.navbar-crumbs li a, #dynamicNavBar .nav.navbar-crumbs li.active a {
        pointer-events: auto;
    }

    #dynamicNavBar .nav.navbar-crumbs li a:hover span {
        display: block;
    }

    .side-menu.left-menu .nav li a:hover .fa-angle-right,
    .side-menu.left-menu .nav li a:active .fa-angle-right,
    .side-menu.left-menu .nav li a:focus .fa-angle-right,
    .side-menu.left-menu .nav li a:visited .fa-angle-right {
        visibility: visible;
    }

}

/* begin:  animations */
@-webkit-keyframes flash {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

@-moz-keyframes flash {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

@keyframes flash {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

/* end:  animations */



.sections .introduction .section-body {
    padding-top: 65px !important;
}

.sections blockquote {
    border-left: none;
}

figure {
    margin-top: 15px;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent!important;
    text-decoration: none;
}

p.reference{
    color:#df6314;
    font-style: italic;
}

p.reference em{
    display: block;
    font-size: 15px;
    font-style: normal;
    margin-top: 10px;
}

a{
    color:#00a6a0;
}

